---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Toaster from '../components/Toaster'
// import Toc from '../components/Toc'
// import { Image } from '@astrojs/image/components'

export interface Props {
  content: {
    title: string
    description: string
    pubDate?: string
    updatedDate?: string
    heroImage?: string
  }
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props

// type OutputFormat = 'avif' | 'jpeg' | 'jpg' | 'png' | 'webp'
// const imgFormat = heroImage?.split('.')[1] as OutputFormat | undefined
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      img {
        max-height: 400px;
        border-radius: var(--neu-radius);
        width: 100%;
        object-fit: cover;
        object-position: 0px 20%;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article class='blog'>
        <!-- {heroImage && <img width={720} height={360} src={heroImage} alt='' />} -->
        {
          heroImage && (
            <img width={720} height={400} src={heroImage} alt='Hero image' />
          )
        }
        <h2 class='title'>{title}</h2>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div class='updated'>
              Publiserad <time>{updatedDate}</time>
            </div>
          )
        }
        <hr class='separator' />
        <!-- <Toc client:load /> -->
        <slot />
      </article>
    </main>
    <Footer />
    <style lang='scss'>
      .updated {
        font-family: var(--sans-serif);
        opacity: 0.5;
      }
    </style>

    <Toaster client:only />
  </body></html
>
